
h1{color: #185900;
font-family: sans-serif;
text-decoration: underline;}
body{
  background: #00FF7F;
  font-family: sans-serif;
  font-style: normal ;
}
p{color: #0310a1 }

h2{color: #ff4400}

h3{color: #5c0039;
  font-family: sans-serif;
  }

h4{color: #bdaa00;
  font-family: sans-serif;
  text-decoration: underline;
font-size: 30}
